@using RateItHome.Models
@model DashboardViewModel
@{
    ViewBag.Title = "Dash";
}

<div id="main col-sm-12">
    @Html.Partial("_MenuBar")
    <div id="notifications" class="item-tiles">
        <div class="home-tile top-tile-1">
            <div class="" style="position: absolute;">
                <h3>Notifications</h3>
               
                <div class="note-items">
                    @foreach (var notification in (IList<Notification>)ViewBag.Model.Notifications)
                    {
                        <div class="note-item">
                            <div class="main-note-item">
                                <div class="main-notification-text" title="@notification.Action">
                                    @notification.Action
                                </div>
                                <a href="javascript:void(0)" class="closebtn cross" onclick="closeNav()">&times;</a>
                            </div>
                            <a href="">Block Url</a>
                            <div class="small-date-text">
                                @notification.DateTimeFormatted
                            </div>

                        </div>
                    }
                </div>
                <button type="button" class="btn see-notes">See all notifications</button>
            </div>
        </div>

        <div id="transactions" class="home-tile top-tile-2">
            <div class="" style="position: absolute;">
                <h3>Transactions</h3>
                <div style="height:100%">
                    @foreach (var transaction in (IList<Transaction>)ViewBag.Model.Transactions)
                    {
                        <div class="trans-item">
                            <div class="main-trans-item @transaction.ActionType.ToString()">
                                @{var displayText = transaction.ActionType.ToString() + ": " + transaction.Amount + " Mo";}

                                <div class="main-trans-text" title="@displayText">
                                    @displayText
                                </div>

                            </div>

                            <div class="small-date-text hide-overflow">
                                @transaction.FormattedTimestamp
                            </div>

                        </div>
                                    }
                </div>
                <button type="button" class="btn see-trans">See all transactions</button>
            </div>
        </div>
        <div id="activity" class="home-tile top-tile-1">
            <div class="" style="position: absolute;">
                <h3>Your Activity</h3>

                <div class="note-items">
                    @foreach (var notification in (IList<Notification>)ViewBag.Model.Activities)
                    {
                        <div class="note-item">
                            <div class="main-note-item">
                                <div class="main-notification-text" title="@notification.Action">
                                    @notification.Action
                                </div>
                                <a href="javascript:void(0)" class="closebtn cross" onclick="closeNav()">&times;</a>
                            </div>

                            <div class="small-date-text">
                                @notification.DateTimeFormatted
                            </div>

                        </div>
                    }
                </div>
                <button type="button" class="btn see-trans">See all activity</button>
            </div>
        </div>

        <div id="votes" class="home-tile bottom-tile-1">
            <div class="" style="position: absolute;width: 220px;">
                <h3>Avg Vote</h3>
                <div style="height:100%;color: white;">
                    <div>
                        <div class="event_star star_in star_animate rate-ri-stars star-placement" data-starnum="0"><i class=""></i></div>
                    </div>
                    <div class="super-rate-text">
                        @ViewBag.Model.AvgScore
                    </div>
                    <div class="super-rate-text-explain">
                        Is your average score of the internet
                    </div>
                    <button type="button" class="btn see-avg">See all votes</button>
                </div>
            </div>
        </div>
        <div id="earned" class="home-tile bottom-tile-2">
            @Html.Partial("_StandardDropdown", ((List<KeyValuePair<int, string>>)ViewBag.TimePeriods))
            <div class="" style="position: absolute;width: 645px;">
                <h3>Earned</h3>
                <div style="height:100%;margin-top: -10px;">

                    <!--<div id="chartContainer" style="height: 135px; max-width: 520px; margin: 0px auto;"></div>-->
                    <div id="sparkline"></div>
                    <button type="button" class="see-graph btn">See all Earned</button>
                </div>
            </div>
        </div>
        <div id="chathistory" class="home-tile bottom-tile-1">
            <div class="" style="position: absolute;width: 220px;">
                <h3>Chat History</h3>
                <div style="height:100%;">
                    @foreach (var chatHistory in (IList<string>)ViewBag.Model.ChatHistory)
                    {
                        <div class="parent-chat">
                            <!--<div class="img-chat"><img src="http://example.com.img1.png" /></div>-->
                            <div class="circle">

                            </div>
                            <div class="text-chat hide-overflow"><a href="">@chatHistory</a></div>
                        </div>

                    }
                    <button type="button" class="btn see-ch">See all Chats</button>
                </div>
            </div>
        </div>

    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery.voteStar.js")
@Scripts.Render("~/Scripts/jquery.canvasjs.min.js")
@Scripts.Render("~/Scripts/jquery.sparkline.min.js")
@Scripts.Render("~/Scripts/jquery.sparkline.min.js")
@Scripts.Render("~/Scripts/home.js")
@Scripts.Render("~/Scripts/jdenticon-1.8.0.js")
@Scripts.Render("~/Scripts/mo.js")
@Scripts.Render("~/Scripts/dd-style.js")
@Styles.Render("~/Content/dd-style.css")
