@using System.Web.Mvc.Html;
@model RateItWebApi.Models.AppModel

<template id="main-chat-window">

    @Html.Hidden("CurrentPageId", Model.PageId)
    @Html.Hidden("CurrentPage", Model.Comments.Page)
    @Html.Hidden("PerPage", Model.Comments.PerPage)

    @Html.Partial("_CssImports")
    <div id="cw-main-2033295929" class="cw-main">
        @Html.Partial("_ContentBar", Model)
        <div id="cw-tab-2033295929" class="cw-tab">
            @Html.Partial("_CommentTab", Model)
            @Html.Partial("_ProfileTab", Model)
            @Html.Partial("_MoCTab", Model)
        </div>
    </div>
    @{
        var url = Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~");
    }

    @Scripts.Render(url + "Scripts/jquery-3.2.1.js")
    @Scripts.Render(url + "Scripts/app/jquery-ui.js")
    @Scripts.Render(url + "Scripts/app/config.js")
    @Scripts.Render(url + "Scripts/app/util.js")
    @Scripts.Render(url + "Scripts/app/emoji-picker.js")
    @Scripts.Render(url + "Scripts/app/jquery.emojiarea.js")
    @Scripts.Render(url + "Scripts/app/jquery.sparkline.min.js")
    @Scripts.Render(url + "Scripts/chat-window.js")
    @Scripts.Render(url + "Scripts/app/menu-bar.js")
    @Scripts.Render(url + "Scripts/app/comment-tab.js")
    @Scripts.Render(url + "Scripts/app/moc-tab.js")
    @Scripts.Render(url + "Scripts/app/profile-tab.js")

</template>
