@{
    ViewBag.Title = "Home Page";
}

<div id="main col-sm-12" class="black-background">
    @Html.Partial("_MenuBar")
    <div class="margin-for-menu">

        <div id="notifications" class="mining-item-tiles">
            <div class="home-tile review-tile-1">

            </div>
        </div> 
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery.voteStar.js")
@Scripts.Render("~/Scripts/jquery.canvasjs.min.js")
@Scripts.Render("~/Scripts/jquery.sparkline.min.js")
@Scripts.Render("~/Scripts/jquery.sparkline.min.js")
@Scripts.Render("~/Scripts/jdenticon-1.8.0.js")
@Scripts.Render("~/Scripts/mo.js")
@Scripts.Render("~/Scripts/mining.js")