
@{
    ViewBag.Title = "Index";
}


<meta name="viewport" content="width=device-width, initial-scale=1">

<div>
    <p>Login Text</p>
</div>

@Styles.Render("~/images/icons/favicon.ico")
@Styles.Render("~/vendor/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
@Styles.Render("~/fonts/iconic/css/material-design-iconic-font.min.css")
@Styles.Render("~/vendor/animate/animate.css")
@Styles.Render("~/vendor/css-hamburgers/hamburgers.min.css")
@Styles.Render("~/vendor/animsition/css/animsition.min.css")
@Styles.Render("~/vendor/select2/select2.min.css")
@Styles.Render("~/vendor/daterangepicker/daterangepicker.css")
@Styles.Render("~/Content/util.css")
@Styles.Render("~/Content/main.css")

@Scripts.Render("~/vendor/jquery/jquery-3.2.1.min.js")
@Scripts.Render("~/vendor/animsition/js/animsition.min.js")
@Scripts.Render("~/vendor/bootstrap/js/popper.js")
@Scripts.Render("~/vendor/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/vendor/select2/select2.min.js")
@Scripts.Render("~/vendor/daterangepicker/moment.min.js")
@Scripts.Render("~/vendor/daterangepicker/daterangepicker.js")
@Scripts.Render("~/vendor/countdowntime/countdowntime.js")
@Scripts.Render("~/Scripts/login.js")
